<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование пользователя</title>
</head>
<body>
<a href="/admin">К списку</a>
<h3>Редактирование пользователя</h3>
<form th:method="POST" th:action="@{/admin/user/edit/{id}(id=${person.getId()})}" th:object="${person}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <label for="login">Логин: </label>
  <input type="text" th:field="*{login}" id="login" readonly>
  <div style="color: red" th:if="${#fields.hasErrors('login')}" th:errors="*{login}"></div>
  <label for="role">Роль: </label>
  <select name="role" id="role">
    <option th:each = "enum : ${T(com.example.finalwork.enumm.Role).values()}"
            th:text = "${enum}"
            th:value = "${enum}"
            th:selected = "(${enum} == ${person.getRole()})"
    >
    </option>
  </select>
  <br>
  <input type="submit" value="Сохранить">
</form>
</body>
</html>