<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Редактирование заказа</title>
</head>
<body>
<a href="/admin">К списку</a>
<h3>Редактирование заказа</h3>
<form th:method="POST" th:action="@{/admin/order/edit/{id}(id=${order[0].getNumber()})}" th:object="${order}">
  <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
  <table>
    <caption>Состав заказа</caption>
    <thead>
    <tr>
      <th th:text="${order[0].getNumber()}">#</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <td>
        <label for="status">Статус:</label>
        <select name="status" id="status">
          <option th:each = "enum : ${T(com.example.finalwork.enumm.Status).values()}"
                  th:text = "${enum}"
                  th:value = "${enum}"
                  th:selected = "(${enum} == ${order[0].getStatus()})"
          >
          </option>
        </select>
        <input type="submit" value="Сохранить">
      </td>
    </tr>
    </tfoot>
    <tbody>
    <tr th:each="elem : ${order}">
      <td th:text="${elem.getProduct().getTitle()}"></td>
    </tr>
    </tbody>
  </table>
</form>
</body>
</html>